## Python Variables
* Variables are containers for storing data values
* A variable is created the moment you first assign a value to it.
* Unlike other programming languages,you dont have to declare the type of variable in python

In [5]:
number = 1234
print(number)

1234

In [2]:

print(username)

WHat is your name ? Sujay Shekhar
Sujay Shekhar

In [4]:
x = input("what is your name ? ")
print(x)

what is your name ? Sujay Shekhar
Sujay Shekhar

In [11]:
# Ex1)

y = "John" # anything in double quotes or single quotes is called string


print(y)

John

In [10]:
len(y)

5

In [18]:
x = 1234.01
print(x)

1234.01

In [17]:
type(x)

float

In [2]:
# Ex2)
# In Python, there is no need to declare the type of variable .i.e,
# same varible can be used to hold different data types
x = 5
print(x)
x = 'john'
print(x)

5
john

In [19]:
# Camel Case  
# Snake case

In [ ]:
username = 12

In [21]:
LengthOfDateStampInFile = 123

In [22]:
12abc = "Shweta"
print(12abc)

SyntaxError: invalid syntax (<ipython-input-22-cb399ca6777c>, line 1)

In [24]:
$name = "Shweta"
print($name)

SyntaxError: invalid syntax (<ipython-input-24-9bda92f4a04e>, line 1)

In [25]:
na$me = "Shweta"
print(na$me)

SyntaxError: invalid syntax (<ipython-input-25-4e58c8d1a03b>, line 1)

In [26]:
name$ = "Shweta"

SyntaxError: invalid syntax (<ipython-input-26-26ca3a3b114e>, line 1)

In [23]:
abc12 = "Shweta"
print(abc12)

Shweta

In [27]:
_name = "Shweta"
print(_name)

Shweta

In [32]:
for _ in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
length_of_date_stamp_in_file = 123

In [ ]:
lengthofdatestampinfile = 123

In [ ]:
userName = 12

In [ ]:
lengthOfSample = 12 # camel case 
length_of_sample = 12 # snake case

### Convention for naming variables

* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number

In [3]:
# Ex 3)
# Variable names are case-sensitive (age, Age and AGE are three different variables)
age = 25
# print(age)
Age = 30
# print(age)
AGE = 35
print(age,Age,AGE)

25 30 35

* Examples of legal and illegal variable names

In [ ]:
#Legal variable names:
myvar = "Python"
my_var = "Python"
_my_var = "Python"
myVar = "Python"
MYVAR = "Python"
myvar2 = "Python"

#Illegal variable names:
2myvar = "Python"  # starting with number
my-var = "Python"  # hyphen is not allowed 
my var = "Python"  # space in between is not allowed

## Python print() Function
* The print() function prints the specified message to the screen
* The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [35]:
name = "Sujay"
print(name)

Sujay

In [36]:
# Ex1)
print("Hello world")

Hello world

In [37]:
# Ex2)
print("Welcome to python")

Welcome to python

In [38]:
# Ex3)
a = "Hello world"
print(a)

Hello world

In [39]:
# Ex4)
first_name = 'Arun'
last_name = 'Balaji'

print(first_name)
print(last_name)

Arun
Balaji

In [40]:
# desired output is:
# Arun-Balaji
# by using 2 print() functions

In [51]:
first_name = "Shweta"
last_name = "Gazabre"
print(first_name,end='$')
print(last_name)

Shweta$Gazabre

In [48]:
# Ex5)
# You can specify the end parameter
print(first_name,end = '-')
print(last_name)

Shweta-Gazabre

## String Concatination

In [56]:
# Ex6)
fruit = ' Mango'
print("I have a" + fruit)

I have a Mango

In [61]:
fruitOne = "Watermelon"
fruitTwo = "Apple"
print(fruitOne + " " +fruitTwo)

Watermelon Apple

In [62]:
# I love Watermelon and Mango

In [70]:
print("I love" + " " + fruitOne + " " + "and" + " " +fruitTwo )

I love Watermelon and Apple

In [69]:
print(f"I love {fruitOne} and {fruitTwo}") # string formatting Python3.6

I love Watermelon and Apple

In [75]:
print("I love {shweta} and {gazabre}".format(shweta = fruitOne, gazabre = fruitTwo)) # python2.7

I love Watermelon and Apple

In [10]:
# Ex7)
fruit1 = 'Apple'
fruit2 = 'Banana'
print('I have 2 fruits, one is '+ fruit1+" other one is "+fruit2)

I have 2 fruits, one is Apple other one is Banana

In [79]:
# Ex8) print format()
print(" I have 2 fruits, one is {} other one is {}".format(fruitTwo,fruitOne))
print(" I have 2 fruits, one is {} other one is {}".format(fruitOne,fruitTwo))

 I have 2 fruits, one is Apple other one is Watermelon
 I have 2 fruits, one is Watermelon other one is Apple

In [13]:
# Ex9) giving indexes in the placeholders
print(" I have 2 fruits, one is {1} other one is {0}".format(fruit1,fruit2))

 I have 2 fruits, one is Banana other one is Apple

## Python Comments
* Comments can be used to explain Python code.

* Comments can be used to make the code more readable.

* Comments can be used to prevent execution when testing code.

'#' is used for single line comment. Python will ignore the lines starting with '#'

In [84]:
#this is a comment
print('Hello world') # this is a print function which is used to print the output

Hello world

In [16]:
print('Hello world') #You can write comments here as well!

Hello world

In [86]:
print('Hello world')
#print('Welcome to python')
print('This is our first class')

Hello world
This is our first class

In [18]:
# i am a 
# multiline 
# comment 
# using '#' 
# at the beginning of
# each line
print('Hello-World')

Hello-World

In [97]:
'''this is known as doc string'''
for i in range(5):
    print("Hello", end= ' ')

Hello Hello Hello Hello Hello

"""
 ....
"""
is used to comment multiple lines of code

In [98]:
'''
i am a 
multiline 
comment 
using 
at the beginning of
each line
'''

print('Hello world')

Hello world

In [20]:
'''
i am a 
multiline 
comment 
using '#' 
at the beginning of
each line
'''
print('Hello world')

Hello world

## input()
* The input() function allows us to take input from the user.

In [128]:
string1 = 5
string2 = 'shweta'
print(string1 * string2)
# 1X5 = 5 , 5X1 = 5

shwetashwetashwetashwetashweta

In [113]:
# Ex1) ask name from the user
# input() is a inbuilt function
# () this is known as parenthesis
name = input("Please enter your pincode : ")
print(type(name))

Please enter your pincode : 560029
<class 'str'>

In [109]:
name2 = input("Please enter your roll number ; ")
name2 = int(name2)
print(type(name2))

Please enter your roll number ; 41
<class 'int'>

In [130]:
# Ex2) take two inputs(numbers) from user and add the numbers
num1 = int(input("enter the first number : "))
num2 = int(input("enter the second number : "))
num3 = num1 + num2 
print(num3)

enter the first number : 10
enter the second number : 10
20

In [137]:
roll_number = input("Please Enter you Roll Number : ")
print(type(roll_number))
roll_number = int(roll_number)
print(roll_number)
print(type(roll_number))
print("___________________________")
roll_number = str(roll_number)
print(roll_number)
print(type(roll_number))

Please Enter you Roll Number : 21
<class 'str'>
21
<class 'int'>
___________________________
21
<class 'str'>

#### remember, whatever value user inputs is converted to string by default

In [23]:
# check the type
print("type of num1 = {} and num2 = {} ".format(type(num1),type(num2)))

# convert to int
num1 = int(num1)
num2 = int(num2)

type of num1 = <class 'str'> and num2 = <class 'str'>

In [24]:
# add and print
num3 = num1 + num2 
print(num3)

11