## Python Variables
* Variables are containers for storing data values
* A variable is created the moment you first assign a value to it.
* Unlike other programming languages,you dont have to declare the type of variable in python

In [5]:
number = 1234
print(number)

1234

In [2]:

print(username)

WHat is your name ? Sujay Shekhar
Sujay Shekhar

In [4]:
x = input("what is your name ? ")
print(x)

what is your name ? Sujay Shekhar
Sujay Shekhar

In [11]:
# Ex1)

y = "John" # anything in double quotes or single quotes is called string


print(y)

John

In [10]:
len(y)

5

In [18]:
x = 1234.01
print(x)

1234.01

In [17]:
type(x)

float

In [2]:
# Ex2)
# In Python, there is no need to declare the type of variable .i.e,
# same varible can be used to hold different data types
x = 5
print(x)
x = 'john'
print(x)

5
john

In [19]:
# Camel Case  
# Snake case

In [ ]:
username = 12

In [21]:
LengthOfDateStampInFile = 123

In [22]:
12abc = "Shweta"
print(12abc)

SyntaxError: invalid syntax (<ipython-input-22-cb399ca6777c>, line 1)

In [24]:
$name = "Shweta"
print($name)

SyntaxError: invalid syntax (<ipython-input-24-9bda92f4a04e>, line 1)

In [25]:
na$me = "Shweta"
print(na$me)

SyntaxError: invalid syntax (<ipython-input-25-4e58c8d1a03b>, line 1)

In [26]:
name$ = "Shweta"

SyntaxError: invalid syntax (<ipython-input-26-26ca3a3b114e>, line 1)

In [23]:
abc12 = "Shweta"
print(abc12)

Shweta

In [27]:
_name = "Shweta"
print(_name)

Shweta

In [32]:
for _ in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
length_of_date_stamp_in_file = 123

In [ ]:
lengthofdatestampinfile = 123

In [ ]:
userName = 12

In [ ]:
lengthOfSample = 12 # camel case 
length_of_sample = 12 # snake case

### Convention for naming variables

* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number

In [3]:
# Ex 3)
# Variable names are case-sensitive (age, Age and AGE are three different variables)
age = 25
# print(age)
Age = 30
# print(age)
AGE = 35
print(age,Age,AGE)

25 30 35

* Examples of legal and illegal variable names

In [ ]:
#Legal variable names:
myvar = "Python"
my_var = "Python"
_my_var = "Python"
myVar = "Python"
MYVAR = "Python"
myvar2 = "Python"

#Illegal variable names:
2myvar = "Python"  # starting with number
my-var = "Python"  # hyphen is not allowed 
my var = "Python"  # space in between is not allowed

## Python print() Function
* The print() function prints the specified message to the screen
* The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [1]:
name = "Sujay"
print(name)

'Sujay'

In [36]:
# Ex1)
print("Hello world")

Hello world

In [37]:
# Ex2)
print("Welcome to python")

Welcome to python

In [38]:
# Ex3)
a = "Hello world"
print(a)

Hello world

In [39]:
# Ex4)
first_name = 'Arun'
last_name = 'Balaji'

print(first_name)
print(last_name)

Arun
Balaji

In [40]:
# desired output is:
# Arun-Balaji
# by using 2 print() functions

In [51]:
first_name = "Shweta"
last_name = "Gazabre"
print(first_name,end='$')
print(last_name)

Shweta$Gazabre

In [48]:
# Ex5)
# You can specify the end parameter
print(first_name,end = '-')
print(last_name)

Shweta-Gazabre

## String Concatination

In [56]:
# Ex6)
fruit = ' Mango'
print("I have a" + fruit)

I have a Mango

In [61]:
fruitOne = "Watermelon"
fruitTwo = "Apple"
print(fruitOne + " " +fruitTwo)

Watermelon Apple

In [62]:
# I love Watermelon and Mango

In [70]:
print("I love" + " " + fruitOne + " " + "and" + " " +fruitTwo )

I love Watermelon and Apple

In [69]:
print(f"I love {fruitOne} and {fruitTwo}") # string formatting Python3.6 and above

I love Watermelon and Apple

In [75]:
print("I love {shweta} and {gazabre}".format(shweta = fruitOne, gazabre = fruitTwo)) # python2.7

I love Watermelon and Apple

In [10]:
# Ex7)
fruit1 = 'Apple'
fruit2 = 'Banana'
print('I have 2 fruits, one is '+ fruit1+" other one is "+fruit2)

I have 2 fruits, one is Apple other one is Banana

In [79]:
# Ex8) print format()
print(" I have 2 fruits, one is {} other one is {}".format(fruitTwo,fruitOne))
print(" I have 2 fruits, one is {} other one is {}".format(fruitOne,fruitTwo))

 I have 2 fruits, one is Apple other one is Watermelon
 I have 2 fruits, one is Watermelon other one is Apple

In [13]:
# Ex9) giving indexes in the placeholders
print(" I have 2 fruits, one is {1} other one is {0}".format(fruit1,fruit2))

 I have 2 fruits, one is Banana other one is Apple

## Python Comments
* Comments can be used to explain Python code.

* Comments can be used to make the code more readable.

* Comments can be used to prevent execution when testing code.

'#' is used for single line comment. Python will ignore the lines starting with '#'

In [84]:
#this is a comment
print('Hello world') # this is a print function which is used to print the output

Hello world

In [16]:
print('Hello world') #You can write comments here as well!

Hello world

In [86]:
print('Hello world')
#print('Welcome to python')
print('This is our first class')

Hello world
This is our first class

In [18]:
# i am a 
# multiline 
# comment 
# using '#' 
# at the beginning of
# each line
print('Hello-World')

Hello-World

In [97]:
'''this is known as doc string'''
for i in range(5):
    print("Hello", end= ' ')

Hello Hello Hello Hello Hello

"""
 ....
"""
is used to comment multiple lines of code

In [98]:
'''
i am a 
multiline 
comment 
using 
at the beginning of
each line
'''
""" This is known as Doc String """

print('Hello world')

Hello world

In [20]:
'''
i am a 
multiline 
comment 
using '#' 
at the beginning of
each line
'''
print('Hello world')

Hello world

## input()
* The input() function allows us to take input from the user.

In [128]:
string1 = 5
string2 = 'shweta'
print(string1 * string2)
# 1X5 = 5 , 5X1 = 5

shwetashwetashwetashwetashweta

In [113]:
# Ex1) ask name from the user
# input() is a inbuilt function
# () this is known as parenthesis
name = input("Please enter your pincode : ")
print(type(name))

Please enter your pincode : 560029
<class 'str'>

In [109]:
name2 = input("Please enter your roll number ; ")
name2 = int(name2)
print(type(name2))

Please enter your roll number ; 41
<class 'int'>

In [130]:
# Ex2) take two inputs(numbers) from user and add the numbers
num1 = int(input("enter the first number : "))
num2 = int(input("enter the second number : "))
num3 = num1 + num2 
print(num3)

enter the first number : 10
enter the second number : 10
20

In [137]:
roll_number = input("Please Enter you Roll Number : ")
print(type(roll_number))
roll_number = int(roll_number)
print(roll_number)
print(type(roll_number))
print("___________________________")
roll_number = str(roll_number)
print(roll_number)
print(type(roll_number))

Please Enter you Roll Number : 21
<class 'str'>
21
<class 'int'>
___________________________
21
<class 'str'>

#### remember, whatever value user inputs is converted to string by default

In [23]:
# check the type
print("type of num1 = {} and num2 = {} ".format(type(num1),type(num2)))

# convert to int
num1 = int(num1)
num2 = int(num2)

type of num1 = <class 'str'> and num2 = <class 'str'>

In [24]:
# add and print
num3 = num1 + num2 
print(num3)

11

In [7]:
number_one = int(input("Please Enter Any Number : "))
number_two = int(input("Please Enter Any Number : "))
print(type(number_one))
print(type(number_two))
print(number_one + number_two )

Please Enter Any Number : 4
Please Enter Any Number : 4
<class 'int'>
<class 'int'>
8

## String Indexing/Position

In [20]:
# Swetha 
# S = 0 -6
# W = 1 -5
# E = 2 -4
# T = 3 -3
# H = 4 -2
# A = 5 -1

In [31]:
name = "Swetha"
# Seh
# w t a
# [Start_argument : Stop_argument : Step_argument]
print(name[1:6:2])

wta

In [ ]:
# "Python" == nohtyP

In [37]:
name_two = "Python" # nohtyP
print(name_two[::-1], "Method 1") # fastest way to reverse a string
print(name_two[5::-1], "Method 2")

nohtyP Method 1
nohtyP Method 2

In [59]:
prod = ["Swetha", "Bob","John", "Doremon" ]
prod.sort() # sort() is a method of list class. Which means when we call it, it directly
# changes the list 
prod

['Bob', 'Doremon', 'John', 'Swetha']

# String Methods

In [ ]:
# lower() -- method
# upper() -- method
# lstrip() -- method
# rstrip() -- method
# strip() -- method
# title() -- method
# count() -- method
# len() -- function

In [64]:
first_name = "SwEtHa"
a = first_name.lower()
print(first_name.lower())
print(first_name.upper())
a

swetha
SWETHA

'swetha'

In [84]:
name = "    swetha gazabare    "
dots = ".............."
print(name.lstrip()+ dots)
print(name.rstrip()+ dots)
print(name.strip() + dots)
print(name.replace(" ",""))
print(name.title())
print(name.count("z"))

swetha gazabare    ..............
    swetha gazabare..............
swetha gazabare..............
swethagazabare
    Swetha Gazabare
1

In [85]:
name = "Swetha Gazabare"
print(len(name))

15

10

In [ ]:
# take two input from the user
# 1. user name
# 2. character which wants to count in his/her name
# output
# length of user's name 
# character count in his/her name case insensitive

# Sujay Shekhar, s

In [98]:
# name = "Sujay Shekhar"
# name.count("s")

0

In [3]:
name, char = input("Enter your name and Character Seperated by Comma : ").split(",")
print(f'Your name length is : {len(name.replace(" ", ""))} and Character count in your name : {name.lower().count(char.lower())} ')

Enter your name and Character Seperated by Comma : Sujay Shekhar,s
Your name length is : 12 and Character count in your name : 2

In [15]:
var = "SweTHa"
var.lower()

'swetha'

In [16]:
userName, character = input("Enter your name and character seperated by comma : ").split(",")
lengthOfUserName = len(userName.replace(" ", ""))
lowerCaseUserName = userName.lower()
lowerCaseCharacter = character.lower()
characterCount = lowerCaseUserName.count(lowerCaseCharacter)
print(f"Hello Mr/Ms {userName}. Length of your name is {lengthOfUserName} and character count is {characterCount}")

Enter your name and character seperated by comma : SweTHa GazaBare,A
Hello Mr/Ms SweTHa GazaBare. Length of your name is 14 and character count is 4

In [19]:
userName, character = input("Enter your name and character seperated by comma : ").split(",")
print(f'Hello Mr/Ms {userName}. Length of your name is {len(userName.replace(" ",""))} and character count is {userName.lower().count(character.lower())}')

Enter your name and character seperated by comma : SweTHA,t
Hello Mr/Ms SweTHA. Length of your name is 6 and character count is 1

In [ ]:
# Take user input Ask for his/her name
# print the reverse of their names. Try to make the program in 2 lines

In [28]:
# String Immutable

userName = "SweTHa"
anotherVariable = userName.lower()
userName.lower()
print(anotherVariable)
print(userName)

swetha
SweTHa

# Conditionals If - Else statement :

In [34]:
userAge = int(input("What's your age ? "))
if userAge <= 14:
    print("You're not allowed") #indentation
else:
    print("You're allowed")

What's your age ? 18
You're allowed

In [42]:
zipCode = input("Please Enter your ZipCode : ")
if len(zipCode) == 6:
    print("Successful")
else:
    print("Unsuccessful")

Please Enter your ZipCode : 70004
Unsuccessful

In [39]:
# Make a program to check whether a number is ODD or EVEN.

number = int(input("Please Enter a Number : "))
if (number%2) != 0:
    print("ODD number")
else: 
    print("EVEN number")

Please Enter a Number : 6
EVEN number

In [ ]:
# Number Guessing Game
# Ask user to input a number and check if it is matching the winning number or not
# if the number is guessed is more than the winning number print too high
# and if its less than the winning number print too low.

In [49]:
winning_number = 26
numberInput = int(input("Please Enter Any Number : "))
print("***************Number Guessing Game*******************")
if numberInput == winning_number:
    print("Hurrah!! You WON")
else: # nested if-else
    if numberInput < winning_number:
        print("Too Low")
    else:
        print("Too High")

Please Enter Any Number : 45
***************Number Guessing Game*******************
Too High

In [58]:
import random # random is the module name
winning_number = random.randint(1,50)
loop = True 
while loop: # Until the condition is True run infinitely
    numberInput = int(input("Please Enter Any Number : "))
    print("***************Number Guessing Game*******************")
    if numberInput == winning_number:
        print("Hurrah!! You WON")
        loop = False
    else: 
        if numberInput < winning_number:
            print("Too Low")
        else:
            print("Too High")

Please Enter Any Number : 10
***************Number Guessing Game*******************
Too Low
Please Enter Any Number : 20
***************Number Guessing Game*******************
Too High
Please Enter Any Number : 15
***************Number Guessing Game*******************
Too High
Please Enter Any Number : 13
***************Number Guessing Game*******************
Too High
Please Enter Any Number : 12
***************Number Guessing Game*******************
Hurrah!! You WON

In [1]:
sentence = "Bitty bought some butter but the butter was so bitter that Bitty bought some better butter to make the bitter butter better"

In [2]:
sentence.find("butter",18, 100)

18

In [3]:
# AND, OR operator
# check the condition at same time

In [16]:
name = 'Swetha'
age = 19 #'19'

In [17]:
if name== "swetha" or age == 19:
    print("Condition is TRUE")
else:
    print("Condition is FALSE")

Condition is TRUE

In [18]:
# Stranger Things !
# Ask user name and age
# IF user's name starts with 's' and 'S' and age is above 14
# out put you can watch Stanger things
# print( you cannot watch stanger things )

In [20]:
userName = input("Please Enter your name : ")
age = int(input("Please Enter your age : "))
if age > 14 and (userName[0] == 's' or userName[0] == 'S'):
    print("You can watch stranger things")
else:
    print("You cannot watch stranger things !!")

Please Enter your name : Sujay
Please Enter your age : 23
You can watch stranger things

In [21]:
userName, age = input("Please Enter your name and age seperated by comma : ").split(',')
if int(age) > 14 and (userName[0] == 's' or userName[0] == 'S'):
    print("You can watch stranger things")
else:
    print("You cannot watch stranger things !!")

Please Enter your name and age seperated by comma : Swetha,24
You can watch stranger things

In [ ]:
#if else and elif

In [ ]:
# Make a movie ticket price program
# 1 to 5 ( free )
# 6 to 12 ( 100 INR)
# 13 to 60 ( 250 INR)
# above 60 ( 200 INR )

In [38]:
age = int(input("Please Enter your age : "))

if age == 0 :
    print("You cannot watch movie")
elif 1<=age<=5:
    print("Ticket price : Free")
elif 6<age<=12:
    print("Ticket Price : 100 INR")
elif 13< age <=60:
    print("Ticket Price : 250 INR")
elif age >= 100:
    print("Please don't watch")
else:
    print("Ticket Price : 200 INR")

Please Enter your age : 100
Please don't watch

In [41]:
# IN keyword
name = 'SwEtha'
name = name.lower()
if 'e' in name:
    print("YES")
else :
    print("NO")

YES

In [44]:
color = ['red', 'blue', 'green']
if 'blue' in color:
    print("Yes")
else:
    print("No")

Yes

# While

In [3]:
i = 1
while i <=10:
    print("Swetha")
    i += 1 # i += 1 / i = i+1

Swetha
Swetha
Swetha
Swetha
Swetha
Swetha
Swetha
Swetha
Swetha
Swetha

In [ ]:
# Make a program to print the sum of 1 to 10 (or any number)
# 10 = 1 + 2 +3 +4 +5 +6 +7 +8 +9 +10
# output =55

In [4]:
total = 0
i = 1
while i <= 10:
    total = total + i
    i = i + 1
print(total)
# 0 + 1 + 2 + 3 + 4 +5 +6 +7 +8 +9 +10 = 55

55

In [ ]:
# sum of n natural numbers
# ask the user for natural number (n)
# print the total

In [5]:
n = int(input("Please Enter any number to get the sum : "))
total = 0
i = 1
while i <= n:
    total = total + i
    i = i + 1
print(total)

Please Enter any number to get the sum : 100
5050

In [ ]:
# Ask user to enter a number containing more than one number 2022, 459848934 , 1235
# example = 1234
# output = 1 + 2 + 3 +4 =10 
# example 2 = 3487
# output = 3 + 4 + 8 + 7 = 22

In [12]:
number = input("Please Enter your number : ")
total = 0
i = 0
while i < len(number):
    total = total + int(number[i])
    i = i + 1
print(total)

Please Enter your number : 9876
30

In [11]:
number = '1234'
test = number[0]
test2 = int(number[0])
print(type(test2))

<class 'int'>

In [2]:
# Ask the user for his/her name
# output character count of each characters in his/her name

# S - 1
# W - 1
# E - 2
# T - 1
# H - 1
# A - 4

# G - 1
# A - 4
# Z - 1
# A - 4
# B - 1
# A - 4
# R - 1
# E - 2

In [3]:
userName = input("Enter your name please : ")
i=0
while i < len(userName):
    print(f"{userName[i]} - {userName.count(userName[i])}")
    i += 1 # i = i + 1

Enter your name please : Swetha Gazabare
S - 1
w - 1
e - 2
t - 1
h - 1
a - 4
  - 1
G - 1
a - 4
z - 1
a - 4
b - 1
a - 4
r - 1
e - 2

In [6]:
userName = "Sujay"
print(userName.count(userName[1]))
print(userName[1])

1
u

In [9]:
userName = input("Please enter you name  : ")
i = 0
temp_var = ""
while i < len(userName):
    if userName[i] not in temp_var:
        temp_var = temp_var + userName[i]
        print(f"{userName[i]} - {userName.count(userName[i])}")
    i += 1

Please enter you name  : swetha gazabare
s - 1
w - 1
e - 2
t - 1
h - 1
a - 4
  - 1
g - 1
z - 1
b - 1
r - 1

In [10]:
# for loop with range function
# 10 time name 
for i in range(0,11):
    print(f"{i} Swetha")

0 Swetha
1 Swetha
2 Swetha
3 Swetha
4 Swetha
5 Swetha
6 Swetha
7 Swetha
8 Swetha
9 Swetha
10 Swetha

In [11]:
i = 0
while i <= 10:
    print(f"{i} Swetha")
    i += 1

0 Swetha
1 Swetha
2 Swetha
3 Swetha
4 Swetha
5 Swetha
6 Swetha
7 Swetha
8 Swetha
9 Swetha
10 Swetha

In [31]:
import random # random is the module name
winning_number = random.randint(1,50)
guess = 1
print("***************Number Guessing Game*******************")
while True: # Until the condition is True run infinitely
    numberInput = int(input("Please Enter Any Number : "))
    if numberInput == winning_number:
        print(f"Hurrah!! You WON, you took {guess} times to win the winning number was {winning_number}")
        break
    else: 
        if numberInput < winning_number:
            print("Too Low")
        else:
            print("Too High")
        guess += 1
        continue
# DRY - principle = do not repeat yourself.

***************Number Guessing Game*******************
Please Enter Any Number : 50
Too High
Please Enter Any Number : 40
Too Low
Please Enter Any Number : 45
Too Low
Please Enter Any Number : 43
Too Low
Please Enter Any Number : 42
Too Low
Please Enter Any Number : 47
Too High
Please Enter Any Number : 46
Hurrah!! You WON, you took 7 times to win the winning number was 46

In [16]:
# Hurrah !! yo won. you took 7 times to guess the number

In [30]:
firstName = "Swetha"
lastName = "Gazabare"
thirdVar = "US"
print("Hello Mr/Ms :"+ " " + firstName + " " + lastName)
print(f"Hello Mr/Ms : {firstName} {lastName} you live in {thirdVar}")

Hello Mr/Ms : Swetha Gazabare
Hello Mr/Ms : Swetha Gazabare you live in US

In [ ]:
# For loop with range function

In [5]:
i = 0
while i <= 10:
    print(i, "Hello World !")
    i += 1

0 Hello World !
1 Hello World !
2 Hello World !
3 Hello World !
4 Hello World !
5 Hello World !
6 Hello World !
7 Hello World !
8 Hello World !
9 Hello World !
10 Hello World !

In [9]:
for i in range(1,11): # 0 to 9 # start , stop, step
    print(f"{i} Hello World !")

 1 Hello World !
 2 Hello World !
 3 Hello World !
 4 Hello World !
 5 Hello World !
 6 Hello World !
 7 Hello World !
 8 Hello World !
 9 Hello World !
 10 Hello World !

In [ ]:
# question : return sum of 1 to 10 , eg 1 + 2 + 3 + 4 .....+10 = 55
# no should be asked from the user

In [ ]:
# 1234 = 1+2+3+4 using for loop

In [12]:
total = 0
num = input("Enter a number : ")
for i in range(0, len(num)):
    total +=  int(num[i])
print(total)

Enter a number : 1111
4

In [16]:
stOne = '1'
stTwo = '2'
print(stOne + stTwo)
print("*"*10)
print(int(stOne) + int(stTwo))

12
**********
3

In [ ]:
# KISS == Keep it simple stupid.

In [9]:
def greeting():
    return 'hello world'
greeting()

'hello world'

In [10]:
def add_two_numbers(a,b): #a and b arguments
    return a + b
num_one = int(input("Enter first number : "))
num_two = int(input("Enter second number : "))
total = add_two_numbers(num_one, num_two)
print(total)

Enter first number : 2
Enter second number : 3
5

In [14]:
# MAKE A FUNCTION WHICH SHOULD RETURN THE LAST CHARACTER OF MY NAME
def last_character(name):
    return name[-1]
print(last_character('Swetha Gazabare'))

e

In [15]:
# a+b+c+d = ?

In [3]:
def add_numbers(w,x,y,z):
    return w+x+y+z

print(add_numbers(2,3,4,5))

14

In [4]:
print(add_numbers(10,20,30,40))

100

In [39]:
def odd_even_one(n):
    if (n%2) == 0:
        return 'Even'
    else:
        return 'Odd'
    
print(odd_even_one(4))

Even

In [40]:
def odd_even_two(n):
    if (n%2) == 0:
        return 'Even'
    return 'Odd'
    
print(odd_even_two(4))

Even

In [41]:
def odd_even_three(n):
    if n%2 == 0:
        return True
    return False
    
print(odd_even_three(4))

True

In [42]:
def odd_even_four(n):
    return n%2==0
print(odd_even_four(3))

False

In [ ]:
# define a function which take two numbers as input and return greater of two numbers

In [47]:
def greater(x,y):
    if x > y:
        return x
    return y

In [48]:
def greatest(a,b,c):
    if a>b and a>c:
        return a
    elif b >a and b >c:
        return b
    return c
print(greatest(40,60,30))

60

In [49]:
# Function Inside a function

In [51]:
def greatest_two(a,b,c):
    bigger = greater(a,b) # 111
    return greater(bigger,c) #(111, 112)
print(greatest_two(11,111,112))

112

In [52]:
def greatest_three(a,b,c):
    return greater(greater(a,b), c)
print(greatest_three(12,14,16))

16

In [ ]:
# define a function that take one word in string as input and return True if it is palindrome else return False
# "madam" ---- "madam" == True
# "Horse" ---- "esroH" == False

# Bonus : Try to make it in two lines